.card {
  border: 2px solid #e9d5ff;
  transition: border-color 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 !important;
}

.card:hover {
  border-color: #c084fc;
}

.cardHeader {
  background-color: #f3e8ff;
  padding: 1rem;
}

.cardTitle {
  color: #6b46c1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.titleIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.cardContent {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;  /* Ovo omogućava da se sadržaj širi i potiskuje prema dnu */
  margin-bottom: 1.5rem;  /* Povećan razmak prema dnu kartice */
}

.avatar {
  height: 5rem !important;  /* Povećana slika */
  width: 5rem !important;  /* Povećana slika */
  margin-bottom: 1.5rem;
  background-color: #e5e7eb !important;
  border-color: #c084fc !important;
  border:#c084fc !important /* Veći razmak između slike i ostatka sadržaja */
}

.avatarFallback {
  
  color:#c084fc;
  font-size: 1.5rem !important;  /* Povećan font za inicijale */
}

.userName {
  font-size: 1.00rem;  /* Povećan font za ime */
  font-weight: 600;
  margin-bottom: 0.5rem; /* Veći razmak između imena i statistike */
}

.userRole {
  color: #6b7280;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.statsGrid {
  width: 100%;
  display: flex;  /* Promijenjeno u flex umjesto grid */
  justify-content: flex-start;  /* Poravnanje kockica prema lijevo */
  gap: 0.5rem;  /* Razmak između kockica */
  text-align: center;
  margin-top: auto;  /* Pomaknut prema dnu kartice */
}

.statItem {
  background-color: #f3e8ff;
  padding: 1rem; /* Povećan padding za bolji izgled */
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Dodan efekat sjenčanja */
  width: 100px;  /* Povećan fiksni width za kockice */
}

.statValue {
  font-size: 1.5rem;  /* Povećan font za statistike */
  font-weight: 700;
  color: #6b46c1;
}

.statLabel {
  font-size: 1rem;
  color: #6b7280;
}

.cardFooter {
  padding: 1rem;
  border-top: 1px solid #e5e7eb;
  margin-top: auto;  /* Osigurava da footer bude na dnu */
}

.editButton {
  width: 100%;
  border-color: #e9d5ff;
  color: #6b46c1;
}

.editButton:hover {
  background-color: #f3e8ff;
}

.editButtonLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButtonIcon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}
