.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #6a1b9a, #9c4d97);
    padding: 20px;
  }
  
  .form {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #6a1b9a;
    margin-bottom: 30px;
  }
  
  .input {
    border: none;
    border-bottom: 2px solid #6a1b9a;
    margin-bottom: 24px;
    padding: 10px 5px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
    color: #000; /* <-- dodano */
  }
  
  .input:focus {
    border-color: #9c4d97;
  }
  
  .radioGroup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .radioLabel {
    font-size: 1rem;
    color: #6a1b9a;
    display: flex;
    align-items: center;
  }
  
  .radio {
    margin-right: 8px;
  }
  
  .button {
    background-color: #6a1b9a;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #9c4d97;
  }
  
  @media (max-width: 480px) {
    .form {
      padding: 30px 20px;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .button {
      font-size: 1rem;
    }
  }

  .googleButton {
  background-color: #db4437; /* Google crvena boja */
  color: white;
  border: none;
  border-radius: 8px; /* Isto kao za .button */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem; /* Isto kao za .button */
  padding: 12px; /* Isto kao za .button */
  cursor: pointer;
  width: 100%; /* Prilagođeno širini formulara */
  margin-top: 15px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.googleButton:hover {
  background-color: #c1351d; /* Snižena nijansa crvene na hover */
}

.googleLogo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  object-fit: contain; /* Osigurava da ikona bude u potpunosti prikazana unutar okvira */
}
  